.but1 {
  padding-left: 15px
}
.but2 {
  padding-left: 15px
}
.but3 {
  padding-left: 15px
}
.inputik {
  padding-top: 30px;
}
.riw {
background-color: red;
}
.fiw {
background-color: green;
}
.liw {
background-color: blue;
}
.goZ {
  padding-top: 30px;
}
